@media screen and ( max-width: 1450px )
  .nav
    &__item
      color: $light
      text-decoration: none
      text-transform: uppercase
      margin-right: 0.5rem
      transition: 0.2s
      &:hover
        color: $primary
  .contacts
    &__phone
      margin-right: 1rem
@media screen and ( max-width: 1413px )
  .nav
    &__item
      color: $light
      text-decoration: none
      text-transform: uppercase
      margin-right: 0.5rem
      transition: 0.2s
      &:hover
        color: $primary
  .contacts
    &__phone
      margin-right: 1rem
@media screen and ( max-width: 1250px )
  html
    font-size: 12px
  .nav
    &__item
      color: $light
      text-decoration: none
      text-transform: uppercase
      margin-right: 0.2rem
      transition: 0.2s
      &:hover
        color: $primary
  .logo
    color: $primary
    text-transform: uppercase
    font-size: 1.075rem
    transition: 0.2s
    margin-right: 1rem
    &:hover
      color: $light
  .contacts
    &__phone
      margin-right: 1rem
@media screen and ( max-width: 994px )
  .wow
    transition-property: none !important
    transform: none !important
    animation: none !important
  .row
    flex-direction: column
    align-items: center
    justify-content: center
  .col-30
    flex-basis: 100%
    margin: auto
  .col-50
    width: 100%
  .nav
    display: none
  .button
    &:hover
      cursor: default   
    &--primary
      color: $light
      background-color: $primary
      box-shadow: 0px 5px 15px rgba($primary, 0.2)
      transition: box-shadow 0.3s
      &:hover
        box-shadow: 0px 5px 15px rgba($primary, 0.2)
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
  .types
    &__card
      display: flex
      margin: auto
      margin-bottom: 7rem
      align-items: start
      &__text
        align-self: start
      &__image
        align-self: start
      &__pricetag
        position: absolute
        left: 0
        bottom: -1.79rem
        font-size: 1.3rem
        font-family: 'Yeseva One', cursive
        text-transform: uppercase
        background-color: $primary
        color: $light
        box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.1)
  .design
    &__card
      display: flex
      margin: auto
      margin-bottom: 7rem
      align-items: start
      &__text
        align-self: start
      &__image
        align-self: start
      &__pricetag
        position: absolute
        left: 0
        bottom: -1.79rem
        font-size: 1.3rem
        font-family: 'Yeseva One', cursive
        text-transform: uppercase
        background-color: $primary
        color: $light
        box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.1)
  .footer
    &__map
      margin: auto
      margin-bottom: 4rem
      width: 580px
      max-width: 66rem
      height: 465px
      min-height: 33.2rem
    &__contacts
      &-text
        width: 70%
        margin: auto
        margin-top: 3rem
        margin-bottom: 0.8rem
  .modal
    opacity: 0
    visibility: hidden
    position: fixed
    z-index: 199
    left: 0
    top: 0
    bottom: 0
    right: 0
    width: 100%
    height: 100%
    background-color: rgba($dark, 0.6)
    display: flex
    align-items: center
    justify-content: center
    &--visible
      opacity: 1
      visibility: visible
    &__dialog
      position: relative
      overflow: auto
      max-width: 100%
      height: 100vh
      background: $dark 
      padding: 2.49rem 3.8rem 1.928rem
      color: $light
@media screen and ( max-width: 760px )
  .container
    width: 90%
    margin: auto
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .section
    padding: 0
    &-title
      &__heading
        font-style: normal
        font-weight: normal
        font-size: 1.833rem
        line-height: 138.6%
        margin-bottom: 1.5rem
      &__word
        &::after
          display: none
  .types
    &__section-title
      padding-top: 5rem
      padding-bottom: 1rem
    &__card
      display: flex
      margin: auto
      flex-direction: column
      align-items: start
      margin-bottom: 5rem
      &__image
      &__text
        position: relative
        margin-left: 0
        margin-top: -12rem
        margin-bottom: 7rem
        width: 90%
        max-width: 23.6rem
        padding: 1.7rem 2.9rem
        background-color: #fff
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03)
      &__title
        font-family: 'Yeseva One', cursive
        font-style: normal
        font-weight: normal
        font-size: 1.25rem
        line-height: 138.6%
        margin-top: 0
        margin-bottom: 1rem
        color: $tird
      &__list
        padding: 0 0 0 1rem
        margin: 0
        font-size: 1.07rem
        line-height: 1.79rem
        color: $secondary
        margin-bottom: 2.5rem
      &__pricetag
        position: absolute
        left: 0
        bottom: -1.79rem
        font-size: 1.25rem
        font-family: 'Yeseva One', cursive
        font-style: normal
        font-weight: normal
        text-transform: uppercase
        line-height: 138.6%
        background-color: $primary
        color: $light
        padding: 0.8rem 2.75rem
        box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.1)
  .projects
    padding-top: 3rem
    padding-bottom: 0
    &__text
      font-family: 'Futura Book', sans-serif
      font-style: normal
      font-weight: normal
      font-size: 1.285rem
      line-height: 1.9rem
      text-transform: none
      max-width: 25.41rem
      margin-top: 2rem
      margin-bottom: 2rem
  .swiper
    &-container
      &__description
        max-width: 27rem
        margin: 0
      &__photo
        margin-top: 2.8rem
        width: 95%
        max-height: 70vh
    &-slide
      display: flex
      flex-wrap: wrap
      position: relative
      &__img
        width: 28.33rem
        min-height: 16.75‬rem
      &__text
        flex-basis: 50%
        margin-bottom: 1.3rem
        max-width: 442px
      &__heading
        font-size: 1.16rem
        line-height: 138.6%
        font-style: normal
        font-weight: normal
        font-family: 'Yeseva One', cursive
        color: $primary
        text-transform: uppercase
        margin-bottom: 0.9rem
      &__value
        font-size: 1.15rem
        line-height: 135.84%
        font-style: normal
        font-weight: normal
    &-pagination
      &-bullet
        background-color: rgba($light, 0.3)
        &-active
          background-color: $light
    &__navbuttons
      margin-top: 3rem
      margin-bottom: 3rem
      position: relative
    &-button                                       
      &-prev, &-next
        top: auto
        bottom: 0
        background-size: 42px
        width: 42px
        height: 14px
        &::after
          display: none
      &-prev
        left: 0
        background: url('../img/arrow-prev.svg') no-repeat center
      &-next
        background: url('../img/arrow-next.svg') no-repeat center
  .swiper-container-horizontal>.swiper-pagination-bullets
    width: auto
    bottom: -1px
  .hero
    position: relative
    display: flex
    flex-direction: column
    background: $dark url('../img/hero-bg.jpg') no-repeat center / cover
    height: 100%
    color: $light
    &::after
      display: none
    &__scroll-down
      display: none
    &__content
      width: 100%
      max-height: 100vh
      display: flex
      flex-direction: column
      justify-content: center
      margin-top: 7.08rem
      margin-bottom: 5.08rem
    &__title
      font-size: 2rem
      line-height: 132.83%
      font-style: normal
      font-weight: normal
    &__text
      font-size: 1.5rem
      margin-bottom: 2.66rem
    &__button
      display: block
      width: 100%
      max-width: 100vh
      margin-bottom: 2.16rem
      font-weight: 500
      font-size: 1.08rem
      line-height: 1.25rem
      text-align: center
      text-transform: uppercase
  .control
    padding-top: 32.5rem
    padding-bottom: 12rem
    background-color: $dark
    color: $light
    &__video
      width: 100%
      height: 17.25rem
      background: $dark url('../img/video-mask.jpg') no-repeat center / cover
      &__play
        &__desctop
          display: none
        &__mobile
          display: inline-block
    &__label
      color: $light
      font-style: normal
      font-weight: normal
      font-size: 1.25rem
      line-height: 1.666rem
      color: rgba($light, 0.5)
      margin-bottom: 0.02rem
    &__form
      flex-direction: column
      flex-basis: 100%
      margin: 0
    &__input-group
      flex-basis: 100%
      display: flex
      flex-direction: column
      margin-bottom: 5rem
    &__input
      &--dark
        color: $light
        font-style: normal
        font-weight: normal
        font-size: 1.5rem
        line-height: 138.72%
        padding-top: 0
        &::placeholder
          font-style: normal
          font-weight: normal
          font-size: 1.5rem
          line-height: 138.72%
          color: $light
    &__button
      text-align: center
      order: 1
      margin-bottom: -14rem
      font-style: normal
      font-weight: 500
      font-size: 1.25rem
      line-height: 2.166rem
      padding: 1.1rem 4.785rem
      outline: none
      box-sizing: border-box
    &__policy
      margin-top: -4.5rem
      margin-left: 0rem
      margin-bottom: 1.1rem
      &-label
        justify-content: start 
        margin-bottom: 4.42rem
        font-style: normal
        font-weight: normal
        font-size: 1.333rem
        line-height: 1.833rem
    &__video
      max-width: 90%
      min-height: 21.25‬rem
      margin: auto
      margin-top: 3.5rem
      margin-bottom: 2.2rem
    &__text
      max-width: 28.33rem
      margin: auto
      margin-bottom: 2.5rem
      text-align: center
      font-style: normal
      font-weight: normal
      font-size: 1.166rem
      line-height: 165%
      &::before
        content: ''
        display: block
        margin: auto
        margin-bottom: 1.1rem
        width: 55px
        height: 2px
        background-color: $primary
        border-radius: 30px
  ec
    &invalid
    position: absolute
    display: block
    color: tomato
    margin-top: 1.5rem
    margin-left: 10rem
  .label
    color: $light
    font-style: normal
    font-weight: normal
    font-size: 1.25rem
    line-height: 1.666rem
    color: rgba($light, 0.5)
    margin-bottom: 0.02rem
  .design
    margin-top: -30rem
    margin-bottom: 0
    padding-top: 27.5rem
    background-color: $dark
    &__description
      max-width: 24rem
      padding-top: 1.5rem
      padding-bottom: 3.5rem
      color: $light
      font-style: normal
      font-weight: normal
      font-size: 1.25rem
      line-height: 135.84%
    &__section-title
      color: $light
    &__card
      display: flex
      margin: auto
      flex-direction: column
      align-items: start
      margin-bottom: 5rem
      &__pricetag
        position: absolute
        left: 0
        bottom: -1.79rem
        font-size: 1.25rem
        font-family: 'Yeseva One', cursive
        font-style: normal
        font-weight: normal
        text-transform: uppercase
        line-height: 138.6%
        background-color: $primary
        color: $light
        padding: 0.8rem 3.9rem
        box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.1)
  .footer
    background: $dark
    margin-top: -1.5rem
    padding-top: 0
    &__map
      margin: auto
      margin-top: 16rem
      margin-bottom: 3rem
      width: 100%
      height: 225px
      min-height: 21.5rem
    &__wrap
      display: flex
      flex-direction: column
      justify-content: center
      padding: 0
      &--black
        background: $dark
        flex-basis: 100%
        margin: 0
        padding: 0
    &__title
      text-transform: uppercase
      font-family: 'Yeseva One', cursive
      font-style: normal
      font-weight: normal
      font-size: 1.666rem
      line-height: 2.33rem
      text-align: center
      margin-bottom: 4.5rem
      margin-top: 0
    &__contacts
      &-text
        width: 80%
        margin: auto
        margin-top: 0
        margin-bottom: 4rem
    &__form
      display: flex
      flex-direction: column
      flex-basis: 100%
      margin: auto
    &__input
      padding: 0
      padding-bottom: 0.5rem
      &::placeholder
        font-style: normal
        font-weight: normal
        font-size: 1.5rem
        line-height: 2rem
        color: $light
      &-group
        display: flex
        flex-direction: column
        flex-basis: 45%
        margin-bottom: 5rem
        &--full-width
          flex-basis: 100%
          margin-bottom: 0.5rem
      &__label
        font-style: normal
        font-weight: normal
        font-size: 1.07rem
        line-height: 1.428rem
    &__policy
      flex-basis: 100%
      margin: 0
      margin-bottom: 3rem
      &__label
        justify-content: start
        &--center
          margin-left: 0
          font-style: normal
          font-weight: normal
          font-size: 1.33rem
          line-height: 1.83rem
    &__menu
      display: none
    &__button
      margin: 0
      margin-top: 2.5rem
      font-style: normal
      font-weight: 500
      font-size: 1.25rem
      line-height: 2.16rem
      text-transform: uppercase
    &__contacts
      order: 1 
      &-text
        font-size: 1.5rem
        line-height: 138.6%
        text-align: center
      &-icon
        &-item
          display: none
        &-mobile
          display: inline-block
          margin: auto
          padding-right: 20px
          &:last-of-type
            padding-right: 0
@media screen and ( max-width: 570px )
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.64rem
  .hero
    &__scroll-down
      display: none
    &__content
      max-width: 100%
      display: flex
      flex-direction: column
      justify-content: center
      margin-top: 7.08rem
      margin-bottom: 5.08rem
    &__title
      font-size: 2rem
      line-height: 132.83%
      font-style: normal
      font-weight: normal
    &__text
      font-size: 1.5rem
      margin-bottom: 2.66rem
    &__button
      display: block
      max-width: 100vh
      margin-bottom: 2.16rem
  .footer
    background: $dark
    margin-top: -1.5rem
    padding-top: 0
    &__map
      margin: auto
      margin-top: 13.5rem
      margin-bottom: 3rem
      width: 100%
      height: 225px
      min-height: 21.5rem
    &__contacts
      &-text
        width: 100%
        margin: auto
        margin-top: 0
        margin-bottom: 2rem
@media screen and ( max-height: 520px )
  .hero
    &__scroll-down
      display: none
  

   