@media screen and ( max-width: 1250px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
@media screen and ( max-width: 992px )
  .wow
    transition-property: none !important
    transform: none !important
    animation: none !important
  .nav
    display: none
  .button
    &:hover
      cursor: default   
    &--primary
      color: $light
      background-color: $primary
      box-shadow: 0px 5px 15px rgba($primary, 0.2)
      transition: box-shadow 0.3s
      &:hover
        box-shadow: 0px 5px 15px rgba($primary, 0.2)
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
    .card
      &__pricetag
        position: absolute
        left: 0
        bottom: -1.79rem
        font-size: 0.8rem
        font-family: 'Yeseva One', cursive
        text-transform: uppercase
        background-color: $primary
        color: $light
        box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.1)
  .modal
    opacity: 0
    visibility: hidden
    position: fixed
    z-index: 199
    left: 0
    top: 0
    bottom: 0
    right: 0
    width: 100%
    height: 100%
    background-color: rgba($dark, 0.6)
    display: flex
    align-items: center
    justify-content: center
    &--visible
      opacity: 1
      visibility: visible
    &__dialog
      position: relative
      overflow: auto
      max-width: 100%
      height: 100vh
      background: $dark 
      padding: 2.49rem 3.8rem 1.928rem
      color: $light
@media screen and ( max-width: 760px )
  .row
    flex-direction: column
    align-items: center
    justify-content: center
  .col-30
    flex-basis: 100%
    width: 100%
  .col-50
    width: 100%
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .section
    padding: 0
    &-title
      &__heading
        font-style: normal
        font-weight: normal
        font-size: 1.833rem
        line-height: 138.6%
        margin-bottom: 0.5rem
      &__word
        &::after
          display: none
  .types
    &__card
      margin-bottom: 5rem
  .projects
    padding-top: 3rem
    padding-bottom: 0
    &__text
      font-family: 'Futura Book', sans-serif
      font-style: normal
      font-weight: normal
      font-size: 1.285rem
      line-height: 1.9rem
      text-transform: none
      max-width: 25.41rem
      margin-top: 2rem
      margin-bottom: 2rem
  .swiper
    &-container
      &__description
        max-width: 27rem
        margin: 0
      &__photo
        margin-top: 2.8rem
    &-slide
      display: flex
      flex-wrap: wrap
      position: relative
      &__text
        flex-basis: 50%
        margin-bottom: 1.3rem
        max-width: 442px
      &__heading
        font-size: 1.16rem
        line-height: 138.6%
        font-style: normal
        font-weight: normal
        font-family: 'Yeseva One', cursive
        color: $primary
        text-transform: uppercase
        margin-bottom: 0.9rem
      &__value
        font-size: 1.15rem
        line-height: 135.84%
        font-style: normal
        font-weight: normal
    &-pagination
      &-bullet
        position: absolute
        top: -0.8rem
        margin-right: 35px
        background-color: rgba($light, 0.3)
        &-active
          background-color: $light
    &__navbuttons
      margin-top: 3rem
      margin-bottom: 3rem
      position: relative
    &-button                                       
      &-prev, &-next
        top: auto
        bottom: 0
        background-size: 42px
        width: 42px
        height: 14px
        &::after
          display: none
      &-prev
        left: 0
        background: url('../img/arrow-prev.svg') no-repeat center
      &-next
        background: url('../img/arrow-next.svg') no-repeat center
  .swiper-container-horizontal>.swiper-pagination-bullets
    width: auto
    bottom: -1px
  .hero
    &::after
      display: none
    &__scroll-down
      display: none
    &__content
      max-width: 100%
      display: flex
      flex-direction: column
      justify-content: center
      margin-top: 2rem
      margin-bottom: 5.08rem
    &__title
      font-size: 2rem
      line-height: 132.83%
      font-style: normal
      font-weight: normal
    &__text
      font-size: 1.5rem
      margin-bottom: 2.66rem
    &__button
      display: block
      max-width: 100vh
      margin-bottom: 2.16rem
      font-weight: 500
      font-size: 1.08rem
      line-height: 1.25rem
      text-align: center
      text-transform: uppercase
  .control
    padding-top: 32.5rem
    background-color: $dark
    color: $light
    &__label
      color: $light
    &__form
      flex-direction: column
      flex-basis: 100%
      margin: 0
    &__input-group
      flex-basis: 100%
      display: flex
      flex-direction: column
      margin-bottom: 5rem
    &__label
      color: rgba($light, 0.5)
    &__input
      &--dark
        &::placeholder
          font-style: normal
          font-weight: normal
          font-size: 1.285rem
          line-height: 1.714rem
          color: $light
    &__button
      text-align: center
      order: 1
      margin-bottom: -2.3rem
      font-style: normal
      font-weight: 500
      font-size: 1.25rem
      line-height: 2.166rem
      padding: 1.1rem 4.785rem
      outline: none
      box-sizing: border-box
    &__policy
      margin-top: -4.5rem
      &-label
        justify-content: start 
        margin-bottom: 4.42rem
    ec
      &invalid
      margin-left: 25rem
      margin-top: -0.5rem
    &__video
      max-width: 90%
      min-height: 21.25‬rem
      margin: auto
      margin-top: 3.5rem
      margin-bottom: 2.2rem
    &__text
      max-width: 28.33rem
      margin: auto
      margin-bottom: 3rem
      text-align: center
      font-style: normal
      font-weight: normal
      font-size: 1.166rem
      line-height: 169.8%
    &::before
      content: ''
      display: block
      margin: auto
      width: 55px
      height: 2px
      background-color: $primary
      border-radius: 30px
  .design
    background-color: $dark
    &__description
      color: $light
    &__section-title
      color: $light
    &__card
      margin-bottom: 5rem
  .footer
    background: $dark
    &__wrap
      display: flex
      flex-direction: column
      justify-content: center
      &--black
        background: $dark
        flex-basis: 100%
        margin: 0
    &__form
      display: flex
      flex-direction: column
      flex-basis: 100%
      margin: auto
    &__menu
      display: none
    &__map
      margin-top: 10rem
      margin-bottom: 4rem
      max-width: 90%
      min-height: 21.25‬rem
      position: relative
      &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: rgba($dark, 0.4)
        z-index: 99
    &__button
      margin: 0
    &__contacts
      order: 1 
@media screen and ( max-width: 570px )
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.64rem
  .hero
    &__scroll-down
      display: none
    &__content
      max-width: 100%
      display: flex
      flex-direction: column
      justify-content: center
      margin-top: 7.08rem
      margin-bottom: 5.08rem
    &__title
      font-size: 2rem
      line-height: 132.83%
      font-style: normal
      font-weight: normal
    &__text
      font-size: 1.5rem
      margin-bottom: 2.66rem
    &__button
      display: block
      max-width: 100vh
      margin-bottom: 2.16rem
@media screen and ( max-height: 520px )
  .hero
    &__scroll-down
      display: none
  

   